@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Metamorphous&family=Staatliches&display=swap&family=Metal+Mania&display=swap");

/* TODOS: Use beskerville font */

:root {
  --mate-font: "Mate SC", serif;
  --staat-font: "Staatliches", cursive;
  --mor-font: "Metamorphous", cursive;
  --metal-font: "Metal Mania", cursive;
  --color-red: #f02c2c;
  --color-light-blue: #add8e6;
  --color-blue-one: #3498db;
  --color-green-one: #17991d;
  --color-azure: azure;
  --color-black-one: #222222;
  --color-white-one: #babecc;
  --color-white-pri: #ffffff;
  --color-white-two: #ffffff73;
  --color-white-three: #dde1e7;
  --font-size-large: 1.8rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.2rem;
  --font-size-tiny: 0.7rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Utilities */

ul {
  list-style-type: none;
}
.main-header {
  text-align: center;
  font-size: var(--font-size-large);
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-decoration: overline;
  font-family: var(--staat-font);
}
.other-header {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--staat-font);
}

.center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: 700;
}
.small-font {
  font-size: 0.8rem !important;
}
.fancy-p {
  width: 90vw;
  overflow-wrap: normal;
}
.letter-space-big {
  letter-spacing: 1.2px;
}

.small-font {
  font-size: var(--font-size-small);
}

.color-red {
  color: var(--color-red);
}
.color-blue {
  color: var(--color-blue-one);
}
.color-white {
  color: var(--color-white-pri);
}
.bg-blue {
  background-color: var(--color-blue-one);
}
.bg-green {
  background-color: var(--color-green-one);
}

.button-fancy {
  margin: 2rem auto;
  font-size: var(--font-size-medium);
  outline: none;
  border: 1px solid var(--color-black);
  background-color: var(--color-azure);
  padding: 1rem;
  font-family: var(--mate-font);
}
.button-fancy:hover {
  transform: scale(1.05);
}

.button-block {
  display: block;
  width: 30vw;
  min-width: 200px;
  font-size: 20px;
  border: 1px solid var(--color-blue-one);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem;
}
.button-block:hover {
  transform: scale(1.01);
  border-color: var(--color-white-one);
}

@media (max-width: 767px) {
  .wide-block {
    width: 100%;
  }
}

/* 
.reverse-bg {
  color: var(--primary-white);
  background-color: var(--primary-blue);
}

.reverse-bg:hover {
  border-color: var(--primary-white);
  color: var(--primary-blue);
  background-color: var(--primary-white);
  border: 1px solid var(--primary-blue);
}

.big-button {
  width: 100%;
  max-width: 767px;
  font-size: 4rem;
  margin: 1rem auto;
  display: block;
} */

.box-shadow-white {
  background-color: var(--color-white-three);
  box-shadow: 2px 2px 5px var(--color-white-one),
    -5px -5px 10px var(--color-white-two);
}

.shake {
  animation: shake 0.5s ease-in-out both;
  animation-iteration-count: 15;
}

@keyframes shake {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(3px) translateY(3px);
  }

  50% {
    transform: translateX(6px) translateY(-6px);
  }
  75% {
    transform: translateX(3px) translateY(-3px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

.responsive-image {
  width: 100%;
  max-width: 550px;
}

/* End of Utilities */

/* Page Not found */
.page-not-found {
  padding: 0.5rem !important;
  margin: 0.5rem;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .page-not-found {
    height: 100%;
  }
}
/* End of Page Not found */

/* Navbar */
@media (min-width: 768px) {
  .my-navbar {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1024px) {
  #responsive-navbar-nav {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .my-navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* End of Navbar */

/* Footer */
.footer {
  background-color: var(--color-white-three);
}
.footer-links-container {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-links-container {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .footer-links-container {
    flex-direction: column;
    margin: auto;
    padding: 0.5rem;
  }
  .footer-links-container ul {
    display: block;
    margin: 1rem auto;
    width: 100%;
  }

  .footer-links-container .useful-links {
    margin: 1rem 3rem;
  }
}

.footer-links-container ul li a {
  cursor: pointer;
}
.footer-links-container ul li a:active {
  color: var(--color-red);
}

.useful-links li {
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 700;
}

.copyright {
  background-color: var(--color-white-one);
  display: block;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

/* End of Footer */

/* Header */
.header-background {
  font-family: var(--metal-font);
  background-image: url(images/field1.jpg);
  background-position: center;
  background-size: cover;
}
.header-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .header-container {
    display: block;
  }
}
.header-content {
  background-color: var(--color-white-pri);
  padding: 1rem;
  width: fit-content;
}

/* End of Header */
