@import url("https://fonts.googleapis.com/css2?family=Mate+SC&family=Metamorphous&family=Staatliches&display=swap&family=Metal+Mania&display=swap");

/* TODOS: Use beskerville font */

:root {
  --mate-font: "Mate SC", serif;
  --staat-font: "Staatliches", cursive;
  --mor-font: "Metamorphous", cursive;
  --metal-font: "Metal Mania", cursive;
  --color-red: #f02c2c;
  --color-light-blue: #add8e6;
  --color-blue-one: #3498db;
  --color-green-one: #17991d;
  --color-azure: #f0ffff;
  --color-black-one: #222222;
  --color-black-two: #6c757d;
  --color-white-one: #babecc;
  --color-white-pri: #ffffff;
  --color-white-two: #ffffff73;
  --color-white-three: #dde1e7;
  --font-size-large: 1.8rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.2rem;
  --font-size-tiny: 0.7rem;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

/* Utilities */
.form-container form > * {
  margin: 1rem auto;
}

a.remove {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.main-header {
  text-align: center;
  font-size: var(--font-size-large);
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-decoration: overline;
  /* border-top: 1px solid var(--color-black-one); */
  font-family: var(--staat-font);
}
@media (max-width: 480px) {
  .main-header-2 {
    text-align: center;
    font-size: var(--font-size-large);
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: var(--staat-font);
  }
}
@media (min-width: 481px) {
  .main-header-2 {
    text-align: center;
    font-size: var(--font-size-large);
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-decoration: overline;
    font-family: var(--staat-font);
  }
}

.other-header {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--mate-font);
}

.center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: 700;
}
.small-font {
  font-size: 0.8rem !important;
}
.fancy-p {
  width: 90vw;
  overflow-wrap: normal;
}
.letter-space-big {
  letter-spacing: 1.2px;
}

.small-font {
  font-size: var(--font-size-small);
}
.big-font {
  font-size: var(--font-size-large);
}
.medium-font {
  font-size: var(--font-size-medium);
}
.my-mr-5 {
  margin-right: 0.5rem;
}

.color-red {
  color: var(--color-red);
}
.color-blue {
  color: var(--color-blue-one);
}
.color-white {
  color: var(--color-white-pri);
}
.bg-blue {
  background-color: var(--color-blue-one);
}
.bg-green {
  background-color: var(--color-green-one);
}
.bg-ash {
  background-color: var(--color-black-two);
}
.bg-red {
  background-color: var(--color-red);
}
.height-big {
  height: 5rem;
}

.button-fancy {
  margin: 2rem auto;
  font-size: var(--font-size-medium);
  outline: none;
  border: 1px solid var(--color-black);
  background-color: var(--color-azure);
  padding: 1rem;
  font-family: var(--mate-font);
}
.button-fancy:hover {
  transform: scale(1.05);
}

.button-block {
  display: block;
  width: 30vw;
  min-width: 200px;
  font-size: 20px;
  border: 1px solid var(--color-blue-one);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem;
}
.button-block:hover {
  transform: scale(1.01);
  border-color: var(--color-white-one);
}

@media (max-width: 767px) {
  .wide-block {
    width: 90%;
  }
}

.reverse-bg {
  color: var(--primary-white);
  background-color: var(--primary-blue);
}

.reverse-bg:hover {
  border-color: var(--primary-white);
  color: var(--primary-blue);
  background-color: var(--primary-white);
  border: 1px solid var(--primary-blue);
}

.big-button {
  width: 100%;
  max-width: 767px;
  font-size: var(--font-size-medium);
  border: 1px solid var(--color-blue-one);
  margin: 1rem auto;
  display: block;
}
.big-button:hover {
  transform: scale(1.01);
  border-color: var(--color-white-one);
}

.link-button {
  border: 1px solid var(--color-green-one);
}

.link-button:hover {
  color: var(--color-white-two);
}

.link-button a {
  text-decoration: none;
}

.link-button a:hover {
  color: var(--color-white-two);
}

.box-shadow-white {
  background-color: var(--color-white-three);
  box-shadow: 2px 2px 5px var(--color-white-one),
    -5px -5px 10px var(--color-white-two);
}

.shake {
  animation: shake 0.5s ease-in-out both;
  animation-iteration-count: 15;
}

@keyframes shake {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(3px) translateY(3px);
  }

  50% {
    transform: translateX(6px) translateY(-6px);
  }
  75% {
    transform: translateX(3px) translateY(-3px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

.responsive-image {
  width: 100%;
  max-width: 550px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 481px) {
  .hide-on-sc {
    display: none;
  }
}

.remove-bottom-space {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.blur-button-bg:active {
  background-color: var(--color-black-two);
}

/* .overflow-pagination {
  overflow: scroll;
} */

/* End of Utilities */

/* Page Not found */
.page-not-found {
  padding: 0.5rem !important;
  margin: 0.5rem;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .page-not-found {
    height: 100%;
  }
}
/* End of Page Not found */

/* Navbar */
.my-navbar {
  font-family: var(--mate-font);
}
.my-navbar a {
  text-decoration: none;
  color: var(--color-black-two);
}
@media (min-width: 768px) {
  .my-navbar {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 992px) {
  #responsive-navbar-nav {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .my-navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.username.nav-item.dropdown > a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.dropdown-item.logout {
  color: red;
}

@media (min-width: 992px) {
  .flex-it {
    display: flex;
  }
}
/* End of Navbar */

/* Footer */
.footer {
  background-color: var(--color-white-three);
  font-family: var(--mor-font);
}
.footer-links-container {
  display: flex;
  margin: 2rem auto;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-links-container {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .footer-links-container {
    flex-direction: column;
    margin: auto;
    padding: 0.5rem;
  }
  .footer-links-container ul {
    display: block;
    margin: 1rem auto;
    width: 100%;
  }

  .footer-links-container .useful-links {
    margin: 1rem 3rem;
  }
}

.footer-links-container ul li a {
  cursor: pointer;
}
.footer-links-container ul li a:active {
  color: var(--color-red);
}

.useful-links li {
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 700;
}

.copyright {
  background-color: var(--color-white-one);
  display: block;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
}

@media (max-width: 480px) {
  .footer-ul {
    font-size: 0.7rem;
  }
}

/* End of Footer */

/* Header */
.header-background {
  font-family: var(--mate-font);
  background-image: url(images/field1.jpg);
  background-position: center;
  background-size: cover;
}
.header-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .header-container {
    display: block;
  }
}
@media (max-width: 767px) {
  .margin-top {
    margin-top: 1rem;
  }
}
.header-content {
  background-color: var(--color-white-pri);
  padding: 1rem;
  /* width: fit-content; */
}

/* End of Header */

/* Hero */
.hero {
  background-color: var(--color-white-two);
  font-family: var(--mate-font);
}

.subscriptions {
  background-color: var(--color-white-three);
}

/* End of Hero */

/* Games */

/* @media (min-width: 720px) {
  .overflowing-table {
    height: 50vh;
    overflow-y: scroll;
  }
}
@media (max-width: 720px) {
  .overflowing-table {
    height: 70vh;
    overflow-y: scroll;
  }
} */

/* End of Games */

/* News Container */
.news-container {
  padding: 1rem;
}

@media (min-width: 720px) {
  .news-container {
    padding: 3rem;
    width: 720px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1200px) {
  .news-container {
    width: 900px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
/* End of News Container */

/* Past Games */
.past-games {
  background-image: url(images/women-in-field.jpg);
  background-clip: border-box;
  background-position: center;
  background-size: cover;
  padding: 5rem 1rem 15rem;
  margin-top: 2rem;
}
/* End of past Games */

/* Register && FORMS CONTAINERS*/
.register {
  background-image: url(images/stadium1.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
  margin-bottom: -3rem;
  padding: 1rem;
}

.register-container {
  background-color: var(--color-white-pri);
  border-radius: 15px;
  padding: 1rem;
}
/* End of register */

/* Start of subscription */
.subs-container {
  display: block;
  width: 100%;
  max-width: 767px;
  margin: 2rem auto;
}

@media (max-width: 767px) {
  .subs-container {
    padding: 0 1rem;
  }
}

/* End of subscription */

/* Start dashboard tab*/
.trim {
  margin-left: 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
}
@media (max-width: 991px) {
  .mt-on-small-screen {
    margin-top: 3rem;
  }
}

.make-block {
  display: flex;
}

/* End dashboard tab */
